.carousel-caption h3,
.carousel-caption p {
    text-shadow: none !important;
    color: #fff !important
}

#footer a:not(.btn),
#footer p {
    font-size: 13.5px !important;
    color: #bdbdbd !important
}

#footer a:not(.btn),
#footer a:not(.btn):active,
#footer a:not(.btn):focus,
#footer p {
    color: #bdbdbd !important
}

.side_m,
.side_m_b {
    z-index: 99999;
    right: 0
}

.marq ul li,
.slider_menu li {
    display: inline-block
}

.lis_wk li,
.list_cart,
ul.list-2 li,
ul.list-3 li {
    list-style: none
}

div.flex-text,
p.flex-text {
    min-height: 145px
}

p a {
    color: #da0000 !important
}

.social-icons li {
    margin: -1px 5px 0 0 !important
}

.social-icons li .fab {
    color: #424242 !important
}

.owl-dt-container {
    font-size: inherit !important
}

.btn-minus,
.btn-plus {
    font-size: 20px;
    cursor: pointer
}

.owl-dt-calendar-table .owl-dt-calendar-header .owl-dt-weekdays th {
    font-size: 13px !important;
    font-weight: 600 !important;
    color: #000
}

.owl-dt-control .owl-dt-control-content {
    font-size: 16px;
    font-weight: 700
}

.page-header.page-header-sm {
    padding: 14px 0 !important
}

.btn-primary.disabled,
.btn-primary:disabled {
    background-color: #901500 !important;
    border-color: #901500 !important
}

.btn-plus {
    color: #1fcc00
}

.btn-minus {
    color: #de2000
}

body,
p {
    color: #101010 !important
}

.word-rotator-title strong {
    font-weight: 300 !important
}

#contactForm .form-control:not(.form-control-sm):not(.form-control-lg) {
    padding: 20px 14px !important
}

#contactForm select.form-control:not(select.form-control-sm):not(select.form-control-lg) {
    padding: 10px 14px !important
}

#contactForm textarea.form-control {
    height: 120px;
    resize: none
}

.fc-event-main {
    font-size: 13.5px;
    line-height: 24px
}

.fc .fc-daygrid-day.fc-day-today {
    background-color: rgba(255, 220, 40, .5) !important
}

.list.list-icons li i {
    color: #dadada
}

h3 {
    font-size: 21px !important
}

.fc-daygrid-day-events {
    padding: 0 8px
}

article.post h2 {
    margin-bottom: 16px !important;
    cursor: pointer
}

article.post h2 a {
    letter-spacing: .5px;
    font-size: 16px
}

.fc-event-main b {
    color: #dc3545 !important
}

.post-links {
    border-bottom: 1px solid #ccc !important;
    border-top: 1px solid #ccc !important;
    height: 44px !important;
    padding: 8px 0 !important;
    margin: 18px 0 60px !important
}

html.sticky-header-active #header .header-body {
    border-top: 4px solid #901500 !important
}

.toggle {
    padding: 0 14px !important
}

.carousel-caption h3 {
    font-size: 30px !important;
    margin-bottom: 4px !important
}

.carousel-caption {
    bottom: 4%
}

.carousel-caption p {
    text-align: center !important;
    font-size: 18px !important
}

.dropdown a:hover,
.marq ul li a,
.nav-btn2 a,
.page-header .breadcrumb>li,
.sv_btn,
.tab1:hover,
.tab1_mb,
.tab1_mb:hover,
.tab2:hover,
.tab2_mb:hover,
.tab3:hover,
.tab3_mb:hover,
.tab4:hover,
.tab4_mb:hover {
    color: #fff
}

.custom-checkbox {
    margin-left: 14px
}

.side_m a,
.side_m_b a {
    color: #fff;
    font-weight: 500;
    letter-spacing: .5px
}

.side_m_b {
    position: fixed;
    top: 33%;
    text-align: center
}

.tab1_mb {
    background: #2196f3;
    padding: 15px;
    margin: 3px 0;
    font-weight: 600 !important;
    display: block
}

#header .header-nav-main nav>ul>li a:hover,
.dropdown-menu a:hover,
.dropdown:hover {
    color: #901500 !important
}

.tab2_mb {
    background: #f1c40f;
    padding: 14px;
    margin: 3px 0;
    color: #fff;
    font-weight: 600 !important;
    display: block
}

.tab3_mb,
.tab4_mb {
    padding: 15px;
    margin: 3px 0;
    color: #fff;
    font-weight: 600 !important;
    display: block
}

.tab3_mb {
    background: #b71b00
}

.tab4_mb {
    background: #555
}

.dropdown-item,
.h4_ttl,
.txt_b {
    font-weight: 600
}

.tab1_mb .fas {
    font-size: 18px
}

.fa-calendar-alt,
.fa-file-alt,
.fa-map-marker-alt {
    font-size: 20px
}

.recurring_mrgn {
    border-right: 1px solid #e4e4e4;
    margin-right: 85px
}

.form-control:not(.form-control-sm):not(.form-control-lg) {
    font-size: 14px !important;
    padding: 8px 14px
}

.cldr_btn {
    height: 39px
}

.h4_ttl {
    font-size: 18px
}

.txt_b {
    color: #000
}

#home-intro {
    padding: 30px 0;
    position: relative;
    background-image: linear-gradient(rgba(144, 21, 0, .8), rgba(144, 21, 0, .9)), url("../img/panchangam_bg.jpg");
    background-position: top center
}

.home-intro {
    border-bottom: 1px solid #860000 !important
}

.home-intro p {
    color: #ff0 !important;
    border-bottom: 1px solid #ff7823 !important
}

.nav-btn2a {
    background: #e42100 !important
}

.dropdown a:hover,
.dropdown-toggle,
.dropdown:hover {
    background-color: transparent !important
}

ul.list-3 li span a {
    color: #ff0;
    overflow-wrap: break-word
}

.navbar {
    min-height: 42px;
    padding: 0 !important
}

.navbar-nav>li>a {
    line-height: 20px;
    font-size: 12px;
    font-weight: 600;
    padding: 8px 9px !important;
    color: #fff !important
}

.dropdown-item {
    font-size: 13px !important;
    padding: 6px 19px !important;
    color: #323232 !important;
    letter-spacing: .4px
}

.dropdown-toggle,
.post-links a {
    font-weight: 600 !important;
    font-size: 13px !important
}

.featured-box h4,
.form-control-lg {
    letter-spacing: 0
}

.dropdown-menu a {
    border-bottom: 1px solid #e4e4e4;
    height: auto !important
}

.navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link {
    text-align: left !important;
    width: 100%
}

.dropdown-toggle {
    padding: 5px 19px !important;
    color: #424242 !important
}

.dropdown-menu,
.sankasthi,
.thumbnail .caption {
    padding: 0
}

.dropdown-toggle::after {
    margin-left: 1px
}

.badge-warning {
    background-color: #ffc107;
    position: relative;
    top: -8px;
    padding: 2px;
    font-size: 8px;
    font-weight: 600;
    color: #000
}

.menu_btn {
    margin: 0 1px
}

.tab2,
.tab3 {
    margin: 1px 0
}

.simple-search .input-group-append {
    border-radius: 0 !important;
    border: 1px solid #900c13 !important;
    border-left: 0;
    background: #900c13 !important
}

.bucket-menu img {
    top: -1px;
    position: relative
}

.header-nav-features-dropdown[_ngcontent-rme-c151] {
    margin-top: 40px;
    pointer-events: all !important
}

#footer p span,
.btn-primary,
.fa-search:before,
.nav_txt2:hover,
.pagination a,
.rev_slider .tp-caption {
    color: #fff !important
}

.fa-search {
    font-size: 14px;
    cursor: pointer
}

#headerSearch {
    border-radius: 0;
    font-size: 13px !important
}

.navbar-toggler {
    border: 1px solid #e8b2b2 !important;
    border-radius: 4px
}

.custom-control-label::after {
    position: absolute;
    top: 3px;
    left: -25px;
    display: block;
    width: 8px;
    height: 8px;
    content: "";
    background: 60%/60% 50% no-repeat;
    padding: 10px
}

.custom-control-label {
    color: #000
}

.input-group-rounded .form-control {
    border-radius: 0 !important;
    font-size: 12.5px !important;
    padding: 10px 18px !important;
    border: none !important
}

.input-group-rounded .input-group-append .btn {
    font-size: 13px !important;
    border-radius: 0 !important
}

#footer p {
    letter-spacing: .2px
}

p.flex-text {
    text-align: left !important
}

.btn-dark:not(:disabled):not(.disabled).active,
.btn-dark:not(:disabled):not(.disabled):active,
.show>.btn-dark.dropdown-toggle {
    color: #fff !important;
    background-color: #901500 !important;
    border-color: #901500 !important;
    padding: 16px 24px !important;
    border-radius: 0 !important
}

::placeholder {
    color: #000 !important
}

#footer .footer-ribbon {
    margin: -20px 0 0 !important
}

.form-control {
    -webkit-box-shadow: none !important
}

.owl-dt-container-buttons {
    display: flex;
    width: 100%;
    height: 38px !important;
    color: #3f51b5;
    font-weight: 600;
    font-size: 13px
}

.tab1,
.tab2,
.tab3,
.tab4 {
    padding: 6px 12px;
    font-weight: 600 !important;
    display: block;
    color: #fff
}

.owl-dt-control-arrow-button svg {
    width: 70%;
    height: 70%;
    fill: currentColor
}

.owl-dt-timer-box {
    width: 30%
}

.owl-dt-timer {
    height: 94px
}

.featured-box h4 {
    font-size: 15px !important
}

.marq,
p.lead {
    letter-spacing: .5px
}

.side_m {
    position: fixed;
    top: 44%;
    border: 1px solid #fff;
    background: #fff
}

.dropdown,
.home-nav2,
.seva_ser {
    position: relative
}

.tab1 {
    background: #2196f3
}

.tab2 {
    background: #f1c40f
}

.tab3 {
    background: #b71b00
}

.tab4 {
    background: #555
}

.chk,
.suc_tt {
    color: #49a900
}

.profile {
    border-radius: 100%;
    width: 54px;
    height: 54px
}

.btn-modern,
.owl-dt-calendar-table .owl-dt-calendar-cell-content {
    font-size: 13px !important
}

p.lead {
    line-height: 24px !important;
    font-size: 14px
}

.chk {
    font-size: 65px;
    display: block;
    margin-bottom: 10px
}

.bd {
    margin: 0 auto;
    border: 4px solid #ccc;
    padding: 24px
}

.suc_tt {
    text-transform: initial
}

#footer h5,
.seva_ser,
h4.news,
h5.event_tt {
    text-transform: uppercase
}

.h3_btm {
    border-bottom: 1px dashed #49a900;
    padding-bottom: 2px;
    line-height: 46px
}

.clm {
    background: #eee;
    border: 1px solid #ccc;
    display: table-cell
}

.marq ul,
.slider_menu {
    padding: 0;
    margin: 0
}

.puja_tbl span {
    font-style: italic
}

#font-setting-buttons,
.a_rt {
    float: right
}

.marq {
    color: #6d0000;
    padding: 4px 0;
    font-size: 13px;
    font-weight: 500
}

.marq span {
    color: #fff;
    font-size: 15px;
    font-weight: 400
}

.marq ul li {
    padding: 0;
    margin-right: 100px;
    font-size: 14px
}

a:hover {
    text-decoration: none
}

.btm_inc {
    border-radius: 0;
    height: 28px;
    font-size: 12px;
    font-weight: 700;
    border: 1px solid #e4e4e4
}

.seva_ser {
    color: #901500;
    font-weight: 700;
    font-size: 15px;
    left: -20px;
    margin: 0;
    padding: 0
}

.evn_t,
.inp_pri,
.p_txt,
.qty,
ul.list-2 li {
    font-weight: 600
}

.custom-control-label::before {
    position: absolute;
    top: 6px;
    left: -22px;
    display: block;
    width: 14px;
    height: 14px;
    pointer-events: none;
    content: "";
    background-color: #fff;
    border: 1px solid #adb5bd
}

.qty,
.thumbnail {
    border-radius: 0
}

.qty {
    color: #fff;
    line-height: 36px;
    font-size: 13px;
    padding: 5px 8px;
    letter-spacing: 1px
}

.thumbnail {
    padding: 0;
    border: none
}

.btn-secondary,
.nav-pills>li>a,
.pagination {
    border-radius: 0
}

.don {
    padding: 8px 15px !important
}

.btn-secondary {
    color: #fff;
    background-color: #901500;
    border-color: #901500
}

.f_icon {
    padding-top: 7px
}

.menu_btn:hover {
    background: #b17927 !important
}

.menu_btn {
    background: #900c13;
    border-radius: 0 !important;
    color: #350800 !important;
    font-size: 12px !important;
    letter-spacing: .4px !important
}

.order_lbtn,
.order_rbtn {
    color: #fff !important;
    text-align: center;
    float: left;
    cursor: pointer
}

.header_bg {
    background-image: url("../img/header.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #fa9012;
    width: 100%
}

.management-box td,
.management-box th {
    padding: 5px 10px
}

.management-box tr {
    padding: 5px 0
}

.input-group {
    margin: 1px 0 8px
}

.r_btn,
ul.live_2 li {
    margin-bottom: 12px
}

.order_lbtn {
    width: 35%;
    background: #9d5f03;
    padding: 8px 10px
}

.order_lbtn:hover,
.order_rbtn:hover {
    color: #ff0
}

.order_rbtn {
    width: 65%;
    background: #901500;
    padding: 8px 16px
}

.p_txt,
.r_btn {
    text-align: right
}

.bg-primary {
    background-color: #b71b00 !important
}

.log_bg {
    background: url(../img/login_bg.jpg) 100% 180px no-repeat fixed;
    height: 600px
}

.numb {
    border: 1px solid #545454;
    border-radius: 50%;
    padding: 4px 10px
}

.sv_btn a,
.sv_btn a:hover {
    border: 1px solid #901500;
    font-weight: 500
}

.list_cart li {
    line-height: 32px
}

.list_cart {
    margin: 0;
    padding: 0
}

.p_txt {
    color: #323232;
    float: right
}

.evn_t,
.paybtn {
    text-align: center
}

.form_bg {
    background: #fbfbfb
}

.pagination>li>a {
    color: #9d5f03 !important
}

.form_bg_bdr {
    background: #fff;
    padding: 38px;
    border: 1px solid #e4e4e4
}

.clr1 {
    background: #9d5f03
}

.clr2,
.paybtn,
.sv_btn a {
    background: #901500
}

#header .header-nav-bar .header-nav {
    margin-left: 0 !important
}

.pb-lg-3,
.py-lg-3 {
    padding-bottom: 10px !important;
    padding-top: 10px !important
}

.stickyChangeLogo {
    height: 142px
}

.sv_btn a {
    color: #fff;
    font-size: 13.5px;
    padding: 10px 22px
}

.sv_btn a:hover {
    color: #f9c700;
    background: #901500 !important
}

.tr_bdr_top {
    border-top: 1px solid #ccc
}

.product-price {
    padding: 8px 0
}

.inp_pri {
    padding-right: 26px;
    width: 200px;
    color: #444;
    line-height: 34px
}

.evn_img,
.show {
    display: block
}

.btn_lg,
.slider_h1 {
    font-weight: 600 !important
}

.paybtn {
    color: #fff;
    padding: 12px 24px
}

.width1 {
    width: 46%
}

.width2 {
    width: 54%
}

.lis_wk {
    margin: 0;
    padding: 0
}

.lis_wk_bg {
    background: #f9f9f9;
    border: 1px solid #e4e4e4;
    padding: 14px
}

.sankasthi td span {
    display: block;
    line-height: 10px
}

.header-nav-main nav>ul>li>a {
    font-weight: 600 !important;
    letter-spacing: 0
}

.header-nav-main nav>ul>li>a:hover,
a.nav_txt2:focus,
a.nav_txt2:hover {
    color: #fff !important;
    text-decoration: none
}

.slider_h1 {
    margin-bottom: 24px !important
}

.owl-carousel.carousel-center-active-item .owl-item {
    opacity: .5
}

.nav-btn {
    background: #b71b00;
    color: #fae850;
    text-align: left;
    padding: 7px 16px;
    float: left;
    margin-top: 4px
}

.nav_txt {
    color: #fff;
    padding: 10px 0;
    float: left
}

.feature-box-icon {
    display: inline;
    margin-right: 8px !important
}

.nav-btn2 a:hover {
    color: #fff000
}

.nav-btn2:hover {
    color: #fff000;
    text-decoration: none !important
}

.nav-btn2 {
    background: #901500;
    color: #fff;
    text-align: center;
    width: 120px;
    border-radius: 6px;
    padding: 14px 20px
}

.lgn {
    padding-top: 19px;
    margin-bottom: 2px
}

.btn_lg {
    font-size: 14px !important;
    color: #fff !important;
    background: #901500 !important;
    border: 1px solid #901500 !important;
    padding: 10px 20px !important
}

.text-light {
    font-size: 13px
}

.card {
    border: none !important
}

ul.list-2,
ul.list-3,
ul.list-4,
ul.list-5 {
    padding: 0;
    margin-bottom: 21px
}

ul.list-2 li {
    color: #fff;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 20px
}

.form-group {
    margin-bottom: 6px;
    margin-top: 4px
}

.form-control-lg {
    padding: 20px 14px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 0;
    color: #101010;
    letter-spacing: .5px
}

.form-control.is-valid {
    background-image: none;
    border: 1px solid #ced4da !important;
    padding: 13px 14px;
    font-size: 13px;
    font-weight: 600;
    color: #000
}

.blt_c {
    color: #901500;
    text-align: center;
    font-weight: 600
}

ul.list-2 li span,
ul.list-3 li span {
    display: block;
    color: #ff0;
    font-weight: 500
}

ul.list-3 li {
    color: #fff;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 8px;
    text-align: left
}

ul.list-4 li,
ul.list-5 li {
    margin-bottom: 7px;
    padding-left: 4px;
    font-size: 15px
}

ul.list-4 li {
    color: #525252;
    line-height: 21px;
    list-style: square;
    margin-left: 28px;
    text-align: left
}

ul.list-5 li,
ul.live_2 li {
    list-style: none;
    text-align: left;
    line-height: 21px
}

.table-bordered thead td {
    font-weight: 600;
    background: #f1eee9
}

.live_b {
    border: 8px solid #e4e4e4
}

h5.event_tt {
    font-size: 15px;
    color: #9d5f03;
    margin-bottom: 5px;
    font-weight: 600;
    font-family: 'Open Sans'
}

ul.live_2,
ul.news_1,
ul.news_2 {
    padding: 0;
    margin-bottom: 21px;
    height: 150px
}

ul.live_2 li {
    font-size: 14px;
    border-bottom: 1px dotted #ccc;
    padding-bottom: 10px
}

div.news_1 .single-row,
ul.news_1 li,
ul.news_2 li {
    margin-bottom: 12px;
    border-bottom: 1px dotted #ff0;
    padding-bottom: 10px;
    line-height: 18px;
    font-size: 14px;
    text-align: left;
    list-style: none
}

ul.live_2 li span {
    display: inline-table;
    color: #101010;
    font-weight: 600;
    width: 100px
}

div.news_1 .single-row,
ul.news_1 li {
    color: #ff0;
    display: flex
}

div.news_1 .single-row .dt,
ul.news_1 li span {
    display: inline-table;
    color: #fff;
    width: 110px
}

div.news_1 {
    padding: 0;
    margin-bottom: 21px;
    height: 280px
}

ul.news_2 li {
    color: #fff;
    display: grid
}

ul.news_2 li span {
    font-weight: 600;
    display: inline-table;
    color: #000
}

h4.news {
    color: #fff;
    font-size: 16px;
    letter-spacing: 0;
    margin: 0;
    font-weight: 700;
    line-height: 28px
}

.home-nav2 {
    background-color: #9d5f03;
    margin-bottom: 0;
    overflow: hidden;
    padding: 8px 0 4px;
    text-align: left
}

img {
    max-width: 100%;
    height: auto
}

ul.header_bt {
    padding: 0;
    margin: 28px 0 0;
    float: right
}

ul.header_bt li {
    list-style: none;
    display: inline-block
}

.heading-primary {
    color: #af1d27 !important
}

.table-bordered td,
.table-bordered th {
    border: 1px solid #ddd
}

.lead {
    font-weight: 500
}

.cont_b {
    font-weight: 700;
    color: #901500;
    display: block;
    line-height: 17px
}

.page-header .breadcrumb li a {
    color: #ffc107 !important;
    font-size: 11px
}

.page-header .breadcrumb li a:hover {
    color: #fff;
    text-decoration: none
}

.dropbtn {
    color: #fff;
    padding: 5px 18px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    background: 0 0
}

.next,
.prev,
button:focus {
    border: transparent !important
}

.dropbtn:focus,
.dropbtn:hover {
    background-color: transparent;
    border: transparent
}

button:focus {
    outline: 0
}

.dropdown {
    display: inline-block
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #b17927;
    min-width: 160px;
    overflow: auto;
    z-index: 1
}

.dropdown-content a {
    color: #fff;
    padding: 7px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #966318;
    font-size: 13px;
    font-weight: 500
}

.nav>li>a {
    padding: 6px 15px
}

@media (min-width:992px) {

    .pb-lg-3,
    .py-lg-3 {
        padding-bottom: 10px !important;
        padding-top: 10px !important
    }

    .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link {
        float: left;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        padding-top: 0;
        padding-bottom: 0
    }

    .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link>.fa {
        display: block;
        width: 48px;
        margin: 2px auto 4px;
        top: 0;
        line-height: 24px
    }

    .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link>.fa>.badge {
        top: -7px
    }
}

@media (max-width:575px) {
    .a_rt {
        float: left;
        margin: 2px 0
    }
}

@media screen and (min-width:320px) and (max-width:375px) {
    .lgn {
        margin: 0;
        padding: 0
    }

    .rev_slider,
    div#revolutionSlider_forcefullwidth {
        height: 304px !important
    }
}

@media screen and (max-width:767px) and (min-width:576px) {
    ul.list-3 li {
        font-size: 13px;
        line-height: 16px
    }

    .box1,
    .box2 {
        padding: 10px !important
    }

    .nav-btn2 {
        padding: 14px 8px;
        font-size: 13px
    }
}

@media screen and (max-width:768px) and (min-width:320px) {
    .home-intro {
        padding: 86px 0 34px !important
    }

    h4.news {
        font-size: 12px;
        line-height: 18px
    }

    .box1 {
        padding: 10px
    }

    .box1 .panel-body {
        padding: 0
    }

    .page-header.page-header-sm h1 {
        font-size: 14px !important
    }

    .page-header.page-header-sm {
        padding: 4px 0 8px !important
    }

    .nav_txt2 {
        padding: 10px 12px;
        float: left
    }

    .lgn {
        padding-top: 0
    }

    #header .header-logo {
        margin: 0
    }
}

@media screen and (max-width:900px) and (min-width:360px),
(min-width:769px) {
    .slider_menu li {
        display: inline-block;
        float: left;
        margin-bottom: 4px;
        margin-right: 4px;
        margin-top: 4px
    }

    .pb-lg-3,
    .py-lg-3 {
        padding-bottom: 0 !important;
        padding-top: 0 !important
    }

    #header .header-nav-bar .header-nav {
        min-height: 40px !important
    }
}

.nav_txt2 {
    background: linear-gradient(180deg, #b71b00 0, #900c13 100%);
    width: 100%;
    color: #fae850;
    font-weight: 400;
    padding: 8px 12px;
    text-align: left;
    position: relative;
    z-index: 999;
    display: inline-block
}

.card_i {
    font-size: 32px;
    margin-left: 10px;
    margin-top: 10px
}

.credit-card-box .panel-title {
    display: inline;
    font-weight: 600;
    font-size: 20px;
    text-align: center
}

.credit-card-box .form-control.error {
    border-color: red;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(255, 0, 0, .6)
}

.credit-card-box .payment-errors,
.credit-card-box label.error {
    font-weight: 700;
    color: red;
    padding: 2px 8px;
    margin-top: 2px
}

.credit-card-box label {
    display: block;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 13px
}

.credit-card-box .display-table {
    display: table;
    padding: 24px 0;
    background: #f5f5f5;
    width: 100%;
    text-align: center
}

.credit-card-box .display-tr {
    display: table-row
}

.credit-card-box .display-td {
    vertical-align: middle
}

.credit-card-box .panel-heading img {
    min-width: 180px
}

.next,
.prev {
    background: 0 0 !important
}

.panel {
    background: 0 0;
    border-radius: 0;
    box-shadow: none;
    border: transparent
}

.panel-footer {
    padding: 0 !important;
    background-color: transparent;
    border-top: transparent;
    border-radius: 0
}

.glyphicon {
    margin-right: 4px !important
}

.pagination .glyphicon {
    margin-right: 0 !important
}

.panel ul {
    padding: 0;
    margin: 0;
    list-style: none
}

.news-item {
    padding: 4px;
    margin: 0;
    border-bottom: 1px dotted #ff0
}

@media only screen and (max-width :375px) {
    .home-intro {
        padding: 80px 0 34px !important
    }
}

@media only screen and (min-width :481px) {
    .flex-row.row {
        display: flex;
        flex-wrap: wrap
    }

    .flex-row.row>[class*=col-] {
        display: flex;
        flex-direction: column
    }

    .flex-row.row:after,
    .flex-row.row:before {
        display: flex
    }

    .flex-row.row>[class*=col-]>.box {
        display: flex;
        flex: 1
    }
}

.mb-2,
.my-2 {
    margin-bottom: 1.2px !important
}

.font-weight-semibold a {
    color: #fff !important;
    font-size: 14px;
    letter-spacing: .2px
}

.flex-row {
    margin: 0 10px 46px
}

.flex-row .caption,
.flex-row .thumbnail {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    background: #f7f7f7
}

.flex-row .caption div.flex-text,
.flex-row .caption p.flex-text {
    flex-grow: 1;
    margin-bottom: 6px;
    line-height: 19px;
    padding: 0 14px
}

.flex-row img {
    width: 100%;
    height: auto
}

.thumbnail {
    margin-bottom: 42px
}

.table-row-equal,
.table-row.row {
    display: table;
    width: 100%;
    table-layout: fixed;
    word-wrap: break-word
}

.table-row.row [class*=col-] {
    width: 25%
}

.table-row-equal .thumbnail,
.table-row.row [class*=col-] {
    float: none;
    display: table-cell;
    vertical-align: top
}

.table-row-equal {
    border-spacing: 30px 0px
}

.table-row-equal .thumbnail {
    width: 1%
}

@media only screen and (max-width:480px) {
    .lgn {
        margin: 0;
        padding: 0
    }

    .rev_slider,
    div#revolutionSlider_forcefullwidth {
        height: 304px !important
    }

    .table-row-equal .thumbnail {
        display: block;
        width: 100%
    }
}

.masonary-row.row {
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
    padding-left: 15px;
    padding-right: 15px;
    word-wrap: break-word;
    column-fill: balance
}

.masonary-row [class*=col-] {
    display: inline-block;
    width: 100%;
    height: 100%;
    float: none;
    padding: 0;
    column-fill: balance
}

@media (min-width:480px) {
    .masonary-row.row {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2
    }
}

.bootflex .well {
    flex-grow: 1
}

pre {
    display: flex;
    flex: 1
}

.flex-row.flex-code.row>[class*=col-] .flex-text {
    flex-grow: 1;
    display: flex
}

#header {
    height: 194px;
    border-top: 0
}

@media (max-width:1024px) {
    #header {
        height: 111px
    }
}

.heading-primary {
    font-size: 18px;
    margin-bottom: 2px
}

.table td,
.table th {
    padding: 5px 14px
}

tr {
    line-height: 26px
}

.home-intro {
    padding: 58px 0 34px !important
}

.box1,
.box2 {
    padding: 20px
}

.box1 {
    border: 1.5px dashed #ff7823
}

.inp {
    width: 46%;
    float: left
}

.inp1 {
    margin-right: 10px
}

.msg_t {
    padding: 54px 0;
    margin: 0 auto
}

.gal_tt1 {
    font-size: 15px;
    text-align: center;
    font-weight: 600;
    margin: 6px 0 0
}

.gal_tt2,
.gal_tt3 {
    font-size: 14px;
    text-align: center;
    font-weight: 500
}

.gal_tt2 {
    margin: 0;
    color: #901500
}

.gal_tt3 {
    color: #999
}

.donation-block p.flex-text {
    min-height: 100px !important
}

.search-box {
    border: 1px solid #b71b00 !important;
    overflow: hidden
}

.search-box button {
    background-color: #b71b00 !important;
    border-color: #b71b00
}

.bucket-menu {
    margin-left: 18px;
    line-height: 27px
}

.navbar-icon-top .navbar-nav .nav-link>.fa {
    position: relative;
    width: 36px;
    font-size: 24px;
    top: 3px;
    line-height: 12px
}

.navbar-icon-top .navbar-nav .nav-link>.fa>.badge {
    font-size: .75rem;
    position: absolute;
    right: 0;
    font-family: sans-serif;
    top: -10px
}

@media (min-width:576px) {
    .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link {
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        padding-top: 0;
        padding-bottom: 0
    }

    .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link>.fa {
        display: block;
        width: 48px;
        margin: 2px auto 4px;
        top: 0;
        line-height: 24px
    }

    .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link>.fa>.badge {
        top: -7px
    }
}

@media (min-width:768px) {
    .masonary-row.row {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3
    }

    .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link {
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        padding-top: 0;
        padding-bottom: 0
    }

    .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link>.fa {
        display: block;
        width: 48px;
        margin: 2px auto 4px;
        top: 0;
        line-height: 24px
    }

    .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link>.fa>.badge {
        top: -7px
    }
}

@media (min-width:1200px) {
    .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link {
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        padding-top: 0;
        padding-bottom: 0
    }

    .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link>.fa {
        display: block;
        width: 48px;
        margin: 2px auto 4px;
        top: 0;
        line-height: 24px
    }

    .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link>.fa>.badge {
        top: -7px
    }
}

.ng-header-menu {
    background-color: #b71b00
}

.ng-header-menu .navbar {
    margin-bottom: 0;
    float: left;
    width: 100%;
    display: block;
    padding: 5px 0 !important
}

.right-nav {
    width: 53%;
    float: right
}

.dropdown-menu-one {
    top: 0;
    left: 100%
}

@media screen and (max-width:1199px) and (min-width:320px) {
    .nav_txt2 {
        margin: 1px
    }
}

.nav-secondary {
    background: #ff6e08 !important;
    padding: 4px 0
}

.dharshan {
    float: left;
    display: grid;
    color: #fff
}

@media screen and (min-device-width:320px) and (max-device-width:375px) {
    .home-intro {
        padding: 0 0 34px !important
    }

    .nav_txt2 {
        padding: 3px 5px;
        font-size: 10px
    }

    .nav-btn {
        padding: 3px;
        margin-top: 2px
    }

    .carousel-caption h3 {
        color: #fff !important;
        text-shadow: none;
        font-size: 16px !important;
        margin-bottom: 5px
    }

    .carousel-caption p {
        font-size: 15px !important;
        line-height: 14px;
        margin-bottom: 10px
    }
}

@media screen and (min-device-width:320px) and (max-device-width:480px) {

    .nav-btn,
    .nav_txt2 {
        padding: 3px 6px
    }

    home-intro {
        padding: 0 0 34px !important
    }

    .nav-btn {
        margin-top: 2px
    }

    .m-top {
        margin: 15px 0 !important
    }

    .nav_txt {
        text-align: left;
        line-height: 18px;
        padding: 0
    }

    .slider-container,
    carousel-inner {
        height: 178px
    }

    .home-wrapper img{
        width: 100%;
        height: 180px
    }

    .home-wrapper .res_img {
        width: 100%;
        height: 178px
    }

    .nav-btn2 {
        border-radius: 4px;
        padding: 8px 16px
    }

    .carousel-caption {
        bottom: -4%
    }

    .carousel-caption p {
        line-height: 14px;
        margin-bottom: 10px
    }

    .side_m_b {
        top: 45%
    }

    #header {
        height: 87px !important
    }
}

@media screen and (min-device-width:375px) and (max-device-width:480px) {

    .nav-btn,
    .nav_txt2 {
        padding: 3px 5px
    }

    .carousel-caption h3 {
        color: #fff !important;
        text-shadow: none;
        font-size: 20px !important;
        margin-bottom: 5px
    }

    .carousel-caption p {
        font-size: 15px !important
    }

    .slider_menu li {
        display: inline-block;
        float: left;
        margin-bottom: 2px;
        margin-right: 2px;
        margin-top: 1px
    }

    .nav-btn {
        margin-top: 2px;
        display: block
    }

    .m-top {
        margin: 15px 0
    }
}

@media screen and (min-device-width:481px) and (max-device-width:896px) {
    .nav-btn {
        display: block
    }

    #header {
        height: 108px !important
    }

    .home-wrapper .res_img {
        height: 280px
    }

    .carousel-caption h3 {
        font-size: 25px !important
    }

    .carousel-caption p {
        font-size: 16px !important;
        line-height: 15px;
        margin-bottom: 14px
    }

    .carousel-caption {
        bottom: 0
    }

    .side_m_b {
        top: 54%
    }

    .nav-btn2 {
        padding: 12px 20px
    }
}

@media screen and (min-device-width:897px) and (max-device-width:1199px) {
    #header {
        height: 172px !important
    }

    .home-wrapper .res_img {
        height: 300px
    }
}

@media only screen and (min-width:320px) and (max-width:359px) {
    .nav_txt {
        padding: 1px 0;
        line-height: 15px
    }

    .nav-secondary {
        text-align: left
    }

    .slider_menu li {
        display: inline-flex
    }

    .nav_txt2 {
        padding: 5px 4px
    }

    .nav-btn {
        padding: 4px 16px
    }
}