p a {
    color: #da0000 !important;
}

.social-icons li {
    margin: -1px 5px 0 0 !important;
}

.social-icons li .fab {
    color: #424242 !important;
}

.owl-dt-container {
    font-size: inherit !important;
}

.owl-dt-calendar-table .owl-dt-calendar-header .owl-dt-weekdays th {
    font-size: 13px !important;
    font-weight: 600 !important;
}

.owl-dt-control .owl-dt-control-content {
    font-size: 16px;
    font-weight: 700;
}

/*.owl-dt-timer-content .owl-dt-timer-input{font-size: 16px!important; width: 34px!important; height: 36px!important;}
.owl-dt-timer-box{width: 34%!important;}
.owl-dt-timer{height: 94px!important;padding:0px!important;}
.owl-dt-timer-content .owl-dt-timer-input {width: 46px!important; 
    font-size: 16px!important; line-height: 36px!important;}
.owl-dt-container{height: 135px!important;}	*/
.page-header.page-header-sm {
    padding: 14px 0 !important;
}

.btn-primary.disabled,
.btn-primary:disabled {
    background-color: #901500 !important;
    border-color: #901500 #901500 #901500 !important;
}

.btn-plus {
    font-size: 20px;
    color: #1fcc00;
    cursor: pointer;
}

.btn-minus {
    font-size: 20px;
    color: #de2000;
    cursor: pointer;
}

body,
p {
    color: #101010 !important;
}

.word-rotator-title strong {
    font-weight: 300 !important;
}

#contactForm .form-control:not(.form-control-sm):not(.form-control-lg) {
    padding: 20px 14px !important;
}

#contactForm select.form-control:not(select.form-control-sm):not(select.form-control-lg) {
    padding: 10px 14px !important;
}

#contactForm textarea.form-control {
    height: 120px;
    resize: none;
}

.fc-event-main {
    font-size: 13.5px;
    line-height: 24px;
}

.fc .fc-daygrid-day.fc-day-today {
    background-color: rgba(255, 220, 40, .5) !important;
}

.list.list-icons li i {
    color: #dadada;
}

h3 {
    font-size: 21px !important;
}

.fc-daygrid-day-events {
    padding: 0px 8px;
}

article.post h2 {
    margin-bottom: 16px !important;
}

article.post h2 a {
    letter-spacing: 0.5px;
    font-size: 16px;
}

.fc-event-main b {
    color: #dc3545 !important;
}

.post-links {
    border-bottom: 1px solid #ccc !important;
    border-top: 1px solid #ccc !important;
    height: 44px !important;
    padding: 8px 0 !important;
    margin: 18px 0 60px !important;
}

html.sticky-header-active #header .header-body {
    border-top: 4px solid #901500 !important;
}

.toggle {
    padding: 0px 14px !important;
}

.carousel-caption h3 {
    color: #fff !important;
    text-shadow: none !important;
    font-size: 30px !important;
    margin-bottom: 4px !important;
}

.carousel-caption {
    bottom: 4%;
}

.carousel-caption p {
    color: #fff !important;
    text-align: center !important;
    font-size: 18px !important;
    text-shadow: none !important;
}

.custom-checkbox {
    margin-left: 14px;
}

.side_m_b a {
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.side_m_b {
    position: fixed;
    right: 0;
    top: 33%;
    z-index: 99999;
    text-align: center;
}

.tab1_mb {
    background: #2196F3;
    padding: 15px;
    margin: 3px 0;
    color: #fff;
    font-weight: 600 !important;
    display: block;
}

.tab1_mb:hover {
    color: #fff;
}

.tab2_mb {
    background: #F1C40F;
    padding: 14px;
    margin: 3px 0;
    color: #fff;
    font-weight: 600 !important;
    display: block;
}

.tab2_mb:hover {
    color: #fff;
}

.tab3_mb {
    background: #b71b00;
    padding: 15px;
    margin: 3px 0;
    color: #fff;
    font-weight: 600 !important;
    display: block;
}

.tab3_mb:hover {
    color: #fff;
}

.tab4_mb {
    background: #555;
    padding: 15px;
    margin: 3px 0;
    color: #fff;
    font-weight: 600 !important;
    display: block;
}

.tab4_mb:hover {
    color: #fff;
}

.tab1_mb .fas {
    font-size: 18px;
}

.fa-map-marker-alt {
    font-size: 20px;
}

.fa-file-alt {
    font-size: 20px;
}

.fa-calendar-alt {
    font-size: 20px;
}

.recurring_mrgn {
    border-right: 1px solid #e4e4e4;
    margin-right: 85px;
}

.form-control:not(.form-control-sm):not(.form-control-lg) {
    font-size: 14px !important;
    padding: 8px 14px;
}

.cldr_btn {
    height: 39px;
}

.h4_ttl {
    font-size: 18px;
    font-weight: 600;
}

.modal.show .modal-dialog {
    /* max-width: 85%; */
}

.txt_b {
    font-weight: 600;
    color: #000;
}

#home-intro {
    padding: 30px 0;
    position: relative;
    background-image: linear-gradient(rgba(144, 21, 0, 0.8), rgba(144, 21, 0, 0.9)), url("../img/panchangam_bg.jpg");
    background-position: top center;
}

.home-intro {
    border-bottom: 1px solid #860000 !important;
}

.home-intro p {
    color: #ff0 !important;
    border-bottom: 1px solid #ff7823 !important;
}

.nav-btn2a {
    background: #e42100 !important;
}

ul.list-3 li span a {
    color: #ff0;
    overflow-wrap: break-word;
}

.navbar {
    min-height: 42px;
    padding: 0px !important;
}

.navbar-nav>li>a {
    line-height: 20px;
    font-size: 12px;
    font-weight: 600;
    padding: 8px 9px !important;
    color: #fff !important;
}

.dropdown-item {
    font-size: 13px !important;
    font-weight: 600;
    padding: 6px 19px !important;
    color: #323232 !important;
    letter-spacing: 0.4px;
}

.dropdown-menu a {
    border-bottom: 1px solid #e4e4e4;
    height: auto !important;
}

.dropdown-menu a:hover {
    color: #901500 !important;
}

.navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link {
    text-align: left !important;
    width: 100%;
    /*float: left;*/
}

.dropdown-toggle {
    font-size: 13px !important;
    font-weight: 600 !important;
    padding: 5px 19px !important;
    color: #424242 !important;
    background-color: transparent !important;
}

.dropdown:hover {
    background-color: transparent !important;
    color: #901500 !important;
}

.dropdown-menu {
    padding: 0px;
}

.dropdown-toggle::after {
    margin-left: 1px;
}

.dropdown a:hover {
    background-color: transparent !important;
}

.badge-warning {
    background-color: #ffc107;
    position: relative;
    top: -8px;
    padding: 2px;
    font-size: 8px;
    font-weight: 600;
    color: #000;
}

.menu_btn {
    background: #900c13;
    border-radius: 0 !important;
    margin: 0 1px;
}

.simple-search .input-group-append {
    border-radius: 0 !important;
    border: 1px solid #900c13 !important;
    border-left: 0;
    background: #900c13 !important;
}

.bucket-menu img {
    top: -1px;
    position: relative;
}

.header-nav-features-dropdown[_ngcontent-rme-c151] {
    margin-top: 40px;
    pointer-events: all !important;
}

.fa-search:before {
    color: #fff !important;
}

.fa-search {
    font-size: 14px;
    cursor: pointer;
}

#headerSearch {
    border-radius: 0;
    font-size: 13px !important;
}

.navbar-toggler {
    border: 1px solid #e8b2b2 !important;
    border-radius: 4px;
}


.custom-control-label::after {
    position: absolute;
    top: 3px;
    left: -25px;
    display: block;
    width: 8px;
    height: 8px;
    content: "";
    background: no-repeat 60%/60% 50%;
    padding: 10px;
}

.custom-control-label {
    color: #000;
}

.post-links a {
    font-size: 13px !important;
    font-weight: 600 !important;
}


.input-group-rounded .form-control {
    border-radius: 0 !important;
    font-size: 12.5px !important;
    padding: 10px 18px !important;
    border: none !important;
}

#footer a:not(.btn) {
    color: #bdbdbd !important;
    font-size: 13.5px !important;
}

.input-group-rounded .input-group-append .btn {
    font-size: 13px !important;
    border-radius: 0 !important;
}

#footer p {
    font-size: 13.5px !important;
    color: #bdbdbd !important;
    letter-spacing: 0.2px;
}

#footer a:not(.btn):focus,
#footer a:not(.btn):active {
    color: #bdbdbd !important;
}

p.flex-text {
    text-align: left !important;
}

.btn-dark:not(:disabled):not(.disabled).active,
.btn-dark:not(:disabled):not(.disabled):active,
.show>.btn-dark.dropdown-toggle {
    color: #fff !important;
    background-color: #901500 !important;
    border-color: #901500 !important;
    padding: 16px 24px !important;
    border-radius: 0 !important;
}

::placeholder {
    color: #000 !important;
}

#footer .footer-ribbon {
    margin: -20px 0 0 0 !important;
}

.form-control {
    -webkit-box-shadow: none !important;
}

.form-control-lg {
    letter-spacing: 0px;
}

.owl-dt-container-buttons {
    display: flex;
    width: 100%;
    height: 38px !important;
    color: #3f51b5;
    font-weight: 600;
    font-size: 13px;
}

.owl-dt-control-arrow-button svg {
    width: 70%;
    height: 70%;
    fill: currentColor;
}

.owl-dt-timer-box {
    width: 30%;
}

.owl-dt-timer {
    height: 94px;
}

article.post h2 {
    cursor: pointer;
}

.featured-box h4 {
    font-size: 15px !important;
    letter-spacing: 0;
}

.side_m {
    position: fixed;
    right: 0;
    top: 44%;
    z-index: 99999;
    border: 1px solid #fff;
    background: #fff;
}

.tab1 {
    background: #2196F3;
    padding: 6px 12px;
    /* margin: 3px 0;  */
    color: #fff;
    font-weight: 600 !important;
    display: block;
}

.tab1:hover {
    color: #fff;
}

.tab2 {
    background: #F1C40F;
    padding: 6px 12px;
    margin: 1px 0;
    color: #fff;
    font-weight: 600 !important;
    display: block;
}

.tab2:hover {
    color: #fff;
}

.tab3 {
    background: #b71b00;
    padding: 6px 12px;
    margin: 1px 0;
    color: #fff;
    font-weight: 600 !important;
    display: block;
}

.tab3:hover {
    color: #fff;
}

.tab4 {
    background: #555;
    padding: 6px 12px;
    /* margin: 3px 0; */
    color: #fff;
    font-weight: 600 !important;
    display: block;
}

.tab4:hover {
    color: #fff;
}

.profile {
    border-radius: 100%;
    width: 54px;
    height: 54px;
}

.owl-dt-calendar-table .owl-dt-calendar-cell-content {
    font-size: 13px !important;
}

.owl-dt-calendar-table .owl-dt-calendar-header .owl-dt-weekdays th {
    font-size: 11px;
    font-weight: 600;
    color: #000;
}

p.lead {
    line-height: 24px !important;
    font-size: 14px;
    letter-spacing: 0.5px;
}

.btn-primary {
    color: #FFF !important;
}

.chk {
    font-size: 65px;
    display: block;
    color: #49a900;
    margin-bottom: 10px;
}

.bd {
    margin: 0 auto;
    border: 4px solid #ccc;
    padding: 24px;
}

.suc_tt {
    text-transform: initial;
    color: #49a900;
}

.h3_btm {
    border-bottom: 1px dashed #49a900;
    padding-bottom: 2px;
    line-height: 46px;
}

.clm {
    background: #eee;
    border: 1px solid #ccc;
    display: table-cell;
}

.slider_menu {
    padding: 0px;
    margin: 0px;
}

.slider_menu li {
    display: inline-block;
}

.puja_tbl span {
    font-style: italic;
}

.a_rt {
    float: right;
}

.side_m a {
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.marq {
    color: #6d0000;
    padding: 4px 0;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.marq span {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
}

.marq ul {
    padding: 0px;
    margin: 0px;
}

.marq ul li {
    padding: 0px;
    margin-right: 100px;
    display: inline-block;
    font-size: 14px;
}

.marq ul li a {
    color: #fff;
}

a:hover {
    text-decoration: none;
}

#font-setting-buttons {
    float: right;
}

.btm_inc {
    border-radius: 0;
    height: 28px;
    font-size: 12px;
    font-weight: 700;
    border: 1px solid #e4e4e4;
}

.seva_ser {
    text-transform: uppercase;
    color: #901500;
    font-weight: 700;
    font-size: 15px;
    position: relative;
    left: -20px;
    margin: 0;
    padding: 0;
}

.custom-control-label::before {
    position: absolute;
    top: 6px;
    left: -22px;
    display: block;
    width: 14px;
    height: 14px;
    pointer-events: none;
    content: "";
    background-color: #fff;
    border: #adb5bd solid 1px;
}

.qty {
    color: #fff;
    line-height: 36px;
    font-size: 13px;
    padding: 5px 8px;
    letter-spacing: 1px;
    font-weight: 600;
    border-radius: 0;
}

.thumbnail {
    padding: 0px;
    border-radius: 0px;
    border: none;
}

.thumbnail .caption {
    padding: 0px;
}

.nav-pills>li>a {
    border-radius: 0px;
}

.don {
    padding: 8px 15px !important;
}

.btn-secondary {
    color: #fff;
    border-radius: 0;
    background-color: #901500;
    border-color: #901500;
}

.f_icon {
    padding-top: 7px;
}

.menu_btn:hover {
    background: #b17927 !important;
}

.menu_btn {
    background: #900c13;
    border-radius: 0 !important;
    color: #350800 !important;
    font-size: 12px !important;
    letter-spacing: 0.4px !important;
}

.header_bg {
    background-image: url("../img/header.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #fa9012;
    width: 100%;

}

.management-box td,
.management-box th {
    padding: 5px 10px;
}

.management-box tr {
    padding: 5px 0px;
}

.input-group {
    margin: 1px 0 8px;
}

.order_lbtn {
    width: 35%;
    color: #fff !important;
    background: #9d5f03;
    text-align: center;
    padding: 8px 10px;
    cursor: pointer;
    float: left;
}

.order_lbtn:hover {
    color: #ff0;
}

.order_rbtn {
    width: 65%;
    color: #fff !important;
    text-align: center;
    background: #901500;
    cursor: pointer;
    padding: 8px 16px;
    float: left;
}

.order_rbtn:hover {
    color: #ff0;
}

.bg-primary {
    background-color: #b71b00 !important;
}

.r_btn {
    text-align: right;
    margin-bottom: 12px;
}

.log_bg {
    background: url(../img/login_bg.jpg) 100% 180px no-repeat fixed;
    /* background-size: cover; */
    height: 600px
}

.numb {
    border: 1px solid #545454;
    border-radius: 50%;
    padding: 4px 10px;
}

.list_cart li {
    line-height: 32px;
}

.list_cart {
    list-style: none;
    margin: 0;
    padding: 0;
}

.p_txt {
    font-weight: 600;
    color: #323232;
    text-align: right;
    float: right;
}

.form_bg {
    background: #fbfbfb;
}

.pagination>li>a {
    color: #9d5f03 !important;
}

.form_bg_bdr {
    background: #fff;
    padding: 38px;
    border: 1px solid #e4e4e4;
}

.clr1 {
    background: #9d5f03;
}

.clr2 {
    background: #901500;
}

#header .header-nav-bar .header-nav {
    margin-left: 0px !important;
}

.pb-lg-3,
.py-lg-3 {
    padding-bottom: 10px !important;
    padding-top: 10px !important;
}

.stickyChangeLogo {
    height: 142px;
}

.sv_btn {
    color: #fff;
}

.sv_btn a {
    color: #fff;
    font-size: 13.5px;
    background: #901500;
    font-weight: 500;
    border: 1px solid #901500;
    padding: 10px 22px;
}

.sv_btn a:hover {
    color: #f9c700;
    background: #901500 !important;
    font-weight: 500;
    border: 1px solid #901500;
}

.tr_bdr_top {
    border-top: 1px solid #ccc;
}

.product-price {
    padding: 8px 0;
}

.inp_pri {
    padding-right: 26px;
    width: 200px;
    font-weight: 600;
    color: #444;
    line-height: 34px;
}

.evn_img {
    display: block;
}

.evn_t {
    text-align: center;
    font-weight: 600;
}

.paybtn {
    color: #fff;
    text-align: center;
    background: #901500;
    padding: 12px 24px;
}

.width1 {
    width: 46%;
}

.width2 {
    width: 54%;
}

tr {
    line-height: 34px;
}

.lis_wk {
    margin: 0px;
    padding: 0px;
}

.lis_wk li {
    list-style: none;
}

.lis_wk_bg {
    background: #f9f9f9;
    border: 1px solid #e4e4e4;
    padding: 14px;
}

.sankasthi {
    padding: 0px;
}

.sankasthi td span {
    display: block;
    line-height: 10px;
}

#footer h5 {
    text-transform: uppercase;
}

#footer p span {
    color: #fff !important;
}

#header .header-nav-main nav>ul>li a {
    /*color:#fff;*/
}

#header .header-nav-main nav>ul>li a:hover {
    color: #901500 !important;
}

.header-nav-main nav>ul>li>a {
    font-weight: 600 !important;
    letter-spacing: 0px;
}

.header-nav-main nav>ul>li>a:hover {
    color: #fff !important;
    text-decoration: none;
}

.rev_slider .tp-caption {
    color: #fff !important;
}

.slider_h1 {
    margin-bottom: 24px !important;
    font-weight: 600 !important;
}

.owl-carousel.carousel-center-active-item .owl-item {
    opacity: 0.5;
}

#footer p {
    color: #9a9a9a;
}

/* .nav-btn{background:#b71b00; color:#fae850; text-align:left; padding:7px 16px; float:left;margin: 4px 0px;} */
.nav-btn {
    background: #b71b00;
    color: #fae850;
    text-align: left;
    padding: 7px 16px;
    float: left;
    margin-top: 4px;

}

.nav_txt {
    color: #fff;
    padding: 10px 0;
    float: left;
}

.nav_txt2 {
    color: #fff;
    padding: 10px 0;
}

.nav_txt2:hover {
    color: #fff !important;
}

.feature-box-icon {
    display: inline;
    margin-right: 8px !important;
}

.nav-btn2 a {
    color: #fff;
}

.nav-btn2 a:hover {
    color: #fff000;
}

.nav-btn2:hover {
    color: #fff000;
    text-decoration: none !important;
}

.nav-btn2 {
    background: #901500;
    color: #fff;
    text-align: center;
    width: 120px;
    border-radius: 6px;
    padding: 14px 20px;
}

.lgn {
    padding-top: 19px;
    margin-bottom: 2px;
}

.btn_lg {
    font-size: 14px !important;
    color: #fff !important;
    background: #901500 !important;
    font-weight: 600 !important;
    border: 1px solid #901500 !important;
    padding: 10px 20px !important;
}

.text-light {
    font-size: 13px;
}

.card {
    border: none !important;
}

/*.nav {
padding-left: revert;}*/
ul.list-2 {
    padding: 0;
    margin-bottom: 21px;
}

ul.list-2 li {
    color: #fff;
    font-size: 14px;
    line-height: 21px;
    list-style: none;
    margin-bottom: 20px;
    font-weight: 600;
}

.form-group {
    margin-bottom: 6px;
    margin-top: 4px;
}

.form-control-lg {
    padding: 20px 14px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 0;
    color: #101010;
    letter-spacing: 0.5px;
}

.form-control.is-valid {
    background-image: none;
    border: 1px solid #ced4da !important;
    padding: 13px 14px;
    font-size: 13px;
    font-weight: 600;
    /* color: #747474; */
    color: #000;
}

.blt_c {
    color: #901500;
    text-align: center;
    font-weight: 600;
}

ul.list-2 li span {
    display: block;
    color: #ff0;
    font-weight: 500;
}

ul.list-3 {
    padding: 0;
    margin-bottom: 21px;
}

ul.list-3 li {
    color: #fff;
    font-size: 14px;
    line-height: 21px;
    list-style: none;
    margin-bottom: 8px;
    text-align: left;
}

ul.list-3 li span {
    display: block;
    color: #ff0;
    font-weight: 500;
}

ul.list-4 {
    padding: 0;
    margin-bottom: 21px;
}

ul.list-4 li {
    color: #525252;
    font-size: 15px;
    line-height: 21px;
    list-style: square outside none;
    margin-bottom: 7px;
    margin-left: 28px;
    padding-left: 4px;
    text-align: left;
}

.table-bordered thead td {
    font-weight: 600;
    background: #f1eee9;
}

ul.list-5 {
    padding: 0;
    margin-bottom: 21px;
}

ul.list-5 li {
    font-size: 15px;
    line-height: 21px;
    list-style: none;
    margin-bottom: 7px;
    padding-left: 4px;
    text-align: left;
}

.home-intro {
    padding: 8px 0 !important;
}

.live_b {
    border: 8px solid #e4e4e4;
}

h5.event_tt {
    text-transform: uppercase;
    font-size: 15px;
    color: #9d5f03;
    margin-bottom: 5px;
    font-weight: 600;
    font-family: 'Open Sans';
}

ul.live_2 {
    padding: 0;
    margin-bottom: 21px;
    height: 150px;
}

ul.live_2 li {
    font-size: 14px;
    list-style: none;
    margin-bottom: 12px;
    text-align: left;
    border-bottom: 1px dotted #ccc;
    padding-bottom: 10px;
    line-height: 21px;

}

ul.live_2 li span {
    display: inline-table;
    color: #101010;
    font-weight: 600;
    width: 100px;
}


ul.news_1 {
    padding: 0;
    margin-bottom: 21px;
    height: 150px;
}

ul.news_1 li {
    color: #ff0;
    font-size: 14px;
    list-style: none;
    margin-bottom: 12px;
    text-align: left;
    border-bottom: 1px dotted #ff0;
    padding-bottom: 10px;
    line-height: 18px;
    display: flex;
}

ul.news_1 li span {
    display: inline-table;
    color: #fff;
    width: 110px;
}

div.news_1 {
    padding: 0;
    margin-bottom: 21px;
    height: 280px;
}

div.news_1 .single-row {
    color: #ff0;
    font-size: 14px;
    list-style: none;
    margin-bottom: 12px;
    text-align: left;
    border-bottom: 1px dotted #ff0;
    padding-bottom: 10px;
    line-height: 18px;
    display: flex;
}

div.news_1 .single-row .dt {
    display: inline-table;
    color: #fff;
    width: 110px;
}

ul.news_2 {
    padding: 0;
    margin-bottom: 21px;
    height: 150px;
}

ul.news_2 li {
    color: #fff;
    font-size: 14px;
    list-style: none;
    margin-bottom: 12px;
    text-align: left;
    border-bottom: 1px dotted #ff0;
    padding-bottom: 10px;
    line-height: 18px;
    display: grid;
}

ul.news_2 li span {
    font-weight: 600;
    display: inline-table;
    color: #000;
}

h4.news {
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    letter-spacing: 0;
    margin: 0;
    font-weight: 700;
    line-height: 28px;
}

.home-nav2 {
    background-color: #9d5f03;
    margin-bottom: 0px;
    overflow: hidden;
    padding: 8px 0 4px;
    position: relative;
    text-align: left;
}

img {
    max-width: 100%;
    height: auto;
}

ul.header_bt {
    padding: 0;
    margin: 28px 0 0;
    float: right;
}

ul.header_bt li {
    list-style: none;
    display: inline-block;
}

.heading-primary {
    color: #af1d27 !important;
}

.table-bordered td,
.table-bordered th {
    border: 1px solid #ddd;
}

.lead {
    font-weight: 500;
}

.cont_b {
    font-weight: 700;
    color: #901500;
    display: block;
    line-height: 17px;
}

.page-header .breadcrumb li a {
    color: #ffc107 !important;
    font-size: 11px;
}

.page-header .breadcrumb>li {
    color: #fff;
}

.page-header .breadcrumb li a:hover {
    color: #fff;
    text-decoration: none;
}

.dropbtn {
    color: #fff;
    padding: 5px 18px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    background: transparent;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: transparent;
    border: transparent;
}

button:focus {
    outline: none;
    outline: none;
    border: transparent !important;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #b17927;
    min-width: 160px;
    overflow: auto;
    z-index: 1;
}

.dropdown-content a {
    color: #fff;
    padding: 7px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #966318;
    font-size: 13px;
    font-weight: 500;
}

.dropdown a:hover {
    background-color: #9d5f03;
    color: #fff;
}

.show {
    display: block;
}

.nav>li>a {
    padding: 6px 15px;
}



@media (min-width: 992px) {

    .pb-lg-3,
    .py-lg-3 {
        padding-bottom: 10px !important;
        padding-top: 10px !important;
    }

    .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link {
        float: left;
    }
}


@media (max-width: 575px) {
    .a_rt {
        float: left;
        margin: 2px 0;
    }
}

@media screen and (min-width: 320px) and (max-width: 375px) {

    /* .a_rt {
    float: left; 
}*/
    .lgn {
        margin: 0px;
        padding: 0px;
    }

    .rev_slider {
        height: 304px !important;
    }

    .slider-container.light.rev_slider_wrapper {
        /* height: 304px!important; */
        /* max-height: 108px!important; */
    }

    div#revolutionSlider_forcefullwidth {
        height: 304px !important;
    }

}

@media screen and (max-width: 767px) and (min-width: 576px) {
    ul.list-3 li {
        font-size: 13px;
        line-height: 16px;
    }

    .box1,
    .box2 {
        padding: 10px !important;
    }

    .nav-btn2 {
        padding: 14px 8px;
        font-size: 13px;
    }

}

@media screen and (max-width: 768px) and (min-width: 320px) {
    .home-intro {
        padding: 86px 0 34px 0 !important;
    }

    h4.news {
        font-size: 12px;
        line-height: 18px;
    }

    .box1 {
        padding: 10px;
    }

    .box1 .panel-body {
        padding: 0px;
    }
}

@media screen and (max-width: 768px) and (min-width: 320px) {
    .page-header.page-header-sm h1 {
        font-size: 14px !important;
    }

    .page-header.page-header-sm {
        padding: 4px 0 8px !important;
    }

    .nav_txt2 {
        padding: 10px 12px;
        float: left;
    }

    .lgn {
        padding-top: 0px;
    }

    #header .header-logo {
        margin: 0;
    }
}

@media screen and (max-width: 900px) and (min-width: 360px),
(min-width: 769px) {
    .slider_menu li {
        display: inline-block;
        float: left;
        margin-bottom: 4px;
        margin-right: 4px;
        margin-top: 4px;
        /* border: 2px solid #8c2020; */
    }

    .pb-lg-3,
    .py-lg-3 {
        padding-bottom: 0px !important;
        padding-top: 0px !important;
    }

    #header .header-nav-bar .header-nav {
        min-height: 40px !important;
    }

}

.nav_txt2:hover {
    color: #fff;
}

.nav_txt2 {
    background: linear-gradient(180deg, #b71b00 0%, #900c13 100%);
    width: 100%;
    color: #fae850;
    font-weight: 400;
    padding: 8px 12px;
    text-align: left;
    position: relative;
    z-index: 999;
    display: inline-block;
}

/* .d-none {
    display: contents!important;
} */







.card_i {
    font-size: 32px;
    margin-left: 10px;
    margin-top: 10px;
}

.credit-card-box .panel-title {
    display: inline;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}

.credit-card-box .form-control.error {
    border-color: red;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

.credit-card-box label.error {
    font-weight: bold;
    color: red;
    padding: 2px 8px;
    margin-top: 2px;
}

.credit-card-box .payment-errors {
    font-weight: bold;
    color: red;
    padding: 2px 8px;
    margin-top: 2px;
}

.credit-card-box label {
    display: block;
    margin-bottom: 0px;
    font-weight: 600;
    font-size: 13px;
}

.credit-card-box .display-table {
    display: table;
    padding: 24px 0;
    background: #f5f5f5;
    width: 100%;
    text-align: center;
}

.credit-card-box .display-tr {
    display: table-row;
}

.credit-card-box .display-td {
    vertical-align: middle;
}

.credit-card-box .panel-heading img {
    min-width: 180px;
}

/* news and events*/
.prev {
    background: transparent !important;
    border: transparent !important;
}

.next {
    background: transparent !important;
    border: transparent !important;
}

.panel {
    background: transparent;
    border-radius: 0px;
    box-shadow: none;
    border: transparent;
}

.pagination {
    border-radius: 0px;
}

.panel-footer {
    padding: 0px !important;
    background-color: transparent;
    border-top: transparent;
    border-radius: 0px;
}

.glyphicon {
    margin-right: 4px !important;
    /*override*/
}

.pagination .glyphicon {
    margin-right: 0px !important;
    /*override*/
}

.pagination a {
    color: #fff !important;
}

.panel ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.news-item {
    padding: 4px 4px;
    margin: 0px;
    border-bottom: 1px dotted #ff0;
}








@media only screen and (max-width : 375px) {
    .home-intro {
        padding: 80px 0 34px 0 !important
    }
}

@media only screen and (min-width : 481px) {


    .flex-row.row {
        display: flex;
        flex-wrap: wrap;
    }

    .flex-row.row>[class*='col-'] {
        display: flex;
        flex-direction: column;
    }

    .flex-row.row:after,
    .flex-row.row:before {
        display: flex;
    }

    .flex-row.row>[class*='col-']>.box {
        display: flex;
        flex: 1;
    }
}

.btn-modern {
    font-size: 13px !important;
}


.mb-2,
.my-2 {
    margin-bottom: 1.2px !important;
}

/* Grow thumbnails to fill columns height */
.font-weight-semibold a {
    color: #fff !important;
    font-size: 14px;
    letter-spacing: 0.2px;
}

.flex-row {
    margin: 0 10px 46px;
}

.flex-row .thumbnail,
.flex-row .caption {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    background: #f7f7f7;
}

/* Flex Grow Text Container */
.flex-row .caption p.flex-text {
    flex-grow: 1;
    margin-bottom: 6px;
    line-height: 19px;
    padding: 0 14px;
}

.flex-row .caption div.flex-text {
    flex-grow: 1;
    margin-bottom: 6px;
    line-height: 19px;
    padding: 0 14px;
}

div.flex-text {
    min-height: 145px;
}

/* Flex Responsive Image */
.flex-row img {
    width: 100%;
    height: auto;
}

.thumbnail {
    margin-bottom: 42px;
}

.table-row.row,
.table-row-equal {
    display: table;
    width: 100%;
    table-layout: fixed;
    word-wrap: break-word;
}

.table-row.row [class*="col-"] {
    width: 25%;
}

.table-row.row [class*="col-"],
.table-row-equal .thumbnail {
    float: none;
    display: table-cell;
    vertical-align: top;
}

.table-row-equal {
    border-spacing: 30px 0px;
}

.table-row-equal .thumbnail {
    width: 1%;
}

@media only screen and (max-width: 480px) {
    .lgn {
        margin: 0px;
        padding: 0px;
    }

    .rev_slider {
        height: 304px !important;
    }

    .slider-container.light.rev_slider_wrapper {
        /* height: 304px!important; */
        /* max-height: 139px!important; */
    }

    div#revolutionSlider_forcefullwidth {
        height: 304px !important;
    }

    .table-row-equal .thumbnail {
        display: block;
        width: 100%;
    }
}

.masonary-row.row {
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
    padding-left: 15px;
    padding-right: 15px;
    word-wrap: break-word;
    column-fill: balance;
}

.masonary-row [class*="col-"] {
    display: inline-block;
    width: 100%;
    height: 100%;
    float: none;
    padding: 0px;
    column-fill: balance;
}


@media (min-width: 480px) {
    .masonary-row.row {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 768px) {
    .masonary-row.row {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }

    .slider-container.rev_slider_wrapper {
        /* height: 356px; */
    }
}

.bootflex .well {
    flex-grow: 1;
}

pre {
    display: flex;
    flex: 1;
}

.flex-row.flex-code.row>[class*='col-'] .flex-text {
    flex-grow: 1;
    display: flex;
}


#header {
    height: 194px;
}

@media (max-width: 1024px) {
    #header {
        height: 111px;
    }
}

.heading-primary {
    font-size: 18px;
    margin-bottom: 2px;
}

.table td,
.table th {
    padding: 5px 14px;
}

tr {
    line-height: 26px;
}

/*     .box1{border: 1px dashed #bfbfbf;
        padding: 20px;}
    .box2{ padding: 20px;}
 */
p.flex-text {
    min-height: 145px;
}

.inp {
    width: 46%;
    float: left;
}

.inp1 {
    margin-right: 10px;
}

p.flex-text {
    min-height: 145px;
}

#header {
    border-top: 0px;
}

.msg_t {
    padding: 54px 0;
    margin: 0 auto;
}

.heading-primary {
    font-size: 18px;
    margin-bottom: 2px;
}

.table td,
.table th {
    padding: 5px 14px;
}

tr {
    line-height: 26px;
}

/*theme-elements.css*/
.home-intro {
    padding: 58px 0 34px 0 !important;
}

.box1 {
    border: 1.5px dashed #ff7823;
    padding: 20px;
}

.box2 {
    padding: 20px;
}

.inp {
    width: 46%;
    float: left;
}

.inp1 {
    margin-right: 10px;
}

p.flex-text {
    min-height: 145px;
}

#header {
    border-top: 0px;
}

.msg_t {
    padding: 54px 0;
    margin: 0 auto;
}

.gal_tt1 {
    font-size: 15px;
    text-align: center;
    font-weight: 600;
    margin: 6px 0 0;
}

.gal_tt2 {
    font-size: 14px;
    margin: 0;
    text-align: center;
    font-weight: 500;
    color: #901500;
}

.gal_tt3 {
    font-size: 14px;
    text-align: center;
    font-weight: 500;
    color: #999;
}

a.nav_txt2:hover,
a.nav_txt2:focus {
    color: #fff !important;
    text-decoration: none;
}

.donation-block p.flex-text {
    min-height: 100px !important;
}


.search-box {
    border: 1px solid #b71b00 !important;
    overflow: hidden;
}

.search-box button {
    background-color: #b71b00 !important;
    border-color: #b71b00;
}

.bucket-menu {
    margin-left: 18px;
    line-height: 27px;
}

.navbar-icon-top .navbar-nav .nav-link>.fa {
    position: relative;
    width: 36px;
    font-size: 24px;
}

.navbar-icon-top .navbar-nav .nav-link>.fa>.badge {
    font-size: 0.75rem;
    position: absolute;
    right: 0;
    font-family: sans-serif;
}

.navbar-icon-top .navbar-nav .nav-link>.fa {
    top: 3px;
    line-height: 12px;
}

.navbar-icon-top .navbar-nav .nav-link>.fa>.badge {
    top: -10px;
}

@media (min-width: 576px) {
    .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link {
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        padding-top: 0;
        padding-bottom: 0;
    }

    .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link>.fa {
        display: block;
        width: 48px;
        margin: 2px auto 4px auto;
        top: 0;
        line-height: 24px;
    }

    .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link>.fa>.badge {
        top: -7px;
    }
}

@media (min-width: 768px) {
    .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link {
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        padding-top: 0;
        padding-bottom: 0;
    }

    .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link>.fa {
        display: block;
        width: 48px;
        margin: 2px auto 4px auto;
        top: 0;
        line-height: 24px;
    }

    .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link>.fa>.badge {
        top: -7px;
    }
}

@media (min-width: 992px) {
    .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link {
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        padding-top: 0;
        padding-bottom: 0;
    }

    .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link>.fa {
        display: block;
        width: 48px;
        margin: 2px auto 4px auto;
        top: 0;
        line-height: 24px;
    }

    .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link>.fa>.badge {
        top: -7px;
    }
}

@media (min-width: 1200px) {
    .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link {
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        padding-top: 0;
        padding-bottom: 0;
    }

    .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link>.fa {
        display: block;
        width: 48px;
        margin: 2px auto 4px auto;
        top: 0;
        line-height: 24px;
    }

    .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link>.fa>.badge {
        top: -7px;
    }
}

.ng-header-menu {
    background-color: #b71b00;
}

.ng-header-menu .navbar {
    margin-bottom: 0px;
    float: left;
    width: 100%;
    display: block;
    padding: 5px 0px !important;
}

.right-nav {
    width: 53%;
    float: right;
}

.dropdown-menu-one {
    top: 0px;
    left: 100%;
}

@media screen and (max-width: 1199px) and (min-width: 320px) {
    .nav_txt2 {
        margin: 1px;
    }
}

.nav-secondary {
    background: #ff6e08 !important;
    padding: 4px 0;
}

.dharshan {
    float: left;
    display: grid;
    color: #fff;
}


@media screen and (min-device-width: 320px) and (max-device-width: 375px) {
    .home-intro {
        padding: 0px 0 34px 0 !important;
    }

    .nav_txt2 {
        padding: 3px 5px;
        font-size: 11px;
    }

    .nav-btn {
        padding: 3px 3px;
        margin-top: 2px;
    }

    .carousel-caption h3 {
        color: #fff !important;
        text-shadow: none;
        font-size: 16px !important;
        margin-bottom: 5px;
    }

    .carousel-caption p {
        font-size: 15px !important;
        line-height: 14px;
        margin-bottom: 10px;
    }
}

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
    home-intro {
        padding: 0px 0 34px 0 !important;
    }

    .nav_txt2 {
        padding: 3px 6px;
    }

    .nav-btn {
        padding: 3px 6px;
        margin-top: 2px;
    }

    .m-top {
        margin: 15px 0 !important;

    }

    .nav_txt {
        text-align: left;
        line-height: 18px;
        padding: 0;
    }

    .slider-container {
        height: 178px;
    }

    .home-wrapper[_ngcontent-amm-c100] img[_ngcontent-amm-c100] {
        width: 100%;
        height: 180px;
    }

    carousel-inner {
        height: 178px;
    }

    .home-wrapper .res_img {
        width: 100%;
        height: 178px;
    }

    .nav-btn2 {
        border-radius: 4px;
        padding: 8px 16px;

    }

    .carousel-caption {
        bottom: -4%;
    }

    .carousel-caption p {
        line-height: 14px;
        margin-bottom: 10px;
    }

    .side_m_b {
        top: 45%;
    }

    #header {
        height: 87px !important;
    }
}

@media screen and (min-device-width: 375px) and (max-device-width: 480px) {
    .carousel-caption h3 {
        color: #fff !important;
        text-shadow: none;
        font-size: 20px !important;
        margin-bottom: 5px;
    }

    .carousel-caption p {
        font-size: 15px !important;
    }

    .slider_menu li {
        display: inline-block;
        float: left;
        margin-bottom: 2px;
        margin-right: 2px;
        margin-top: 1px;
    }

    .nav_txt2 {
        padding: 3px 6px;
    }

    .nav-btn {
        padding: 3px 6px;
        margin-top: 2px;
    }

    .m-top {
        margin: 15px 0;
    }

    .nav-btn {
        display: block;
    }
}

@media screen and (min-device-width: 481px) and (max-device-width: 896px) {
    .nav-btn {
        display: block;
    }

    #header {
        height: 108px !important;
    }

    .home-wrapper .res_img {
        height: 280px;
    }

    .carousel-caption h3 {
        font-size: 25px !important;
    }

    .carousel-caption p {
        font-size: 16px !important;
        line-height: 15px;
        margin-bottom: 14px;

    }

    .carousel-caption {
        bottom: 0;
    }

    .side_m_b {
        top: 54%;
    }

    .nav-btn2 {
        padding: 12px 20px;
    }
}

@media screen and (min-device-width: 897px) and (max-device-width: 1199px) {
    #header {
        height: 172px !important;
    }

    .home-wrapper .res_img {
        height: 300px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 359px) {
    .nav_txt {
        padding: 1px 0;
        line-height: 15px;
    }

    .nav-secondary {
        text-align: left;
    }

    .slider_menu li {
        display: inline-flex;
    }

    .nav_txt2 {
        padding: 5px 12px;
    }

    .nav-btn {
        padding: 4px 16px;
    }

}